<template>
  <v-form ref="form">
    <v-row>
      <v-col cols="12" sm="4">
        <v-text-field
          v-model="currency1"
          :rules="[rules.notLessThan(0)]"
          :label="getLabel('value1')"
          type="number"
          min="0"
        />
      </v-col>
      <v-col cols="12" sm="4">
        <v-text-field
          v-model="currency2"
          :rules="[rules.notLessThan(0)]"
          :label="getLabel('value2')"
          type="number"
          min="0"
        />
      </v-col>
      <v-col cols="12" sm="4">
        <v-text-field
          v-model="currency3"
          :rules="[rules.notLessThan(0)]"
          :label="getLabel('value3')"
          type="number"
          min="0"
        />
      </v-col>
    </v-row>
    <currency-graph :datasets="currencies" />
  </v-form>
</template>

<script>
import CurrencyGraph from "./CurrencyGraph.vue";
import currency from "../currency";

const currencyGetter = function(coefficient) {
  return Number((this.seed * coefficient) / this.anchorCoefficient).toFixed(2);
};

const currencySetter = function(val, seedAnchor) {
  if (val >= 0) {
    this.seedAnchor = seedAnchor;
    this.seed = val;
  }
};

export default {
  name: "ConverterForm",
  components: { CurrencyGraph },
  data() {
    return {
      seed: 0,
      seedAnchor: "value1",
      currencies: {
        value1: currency(2, "Валюта №1"),
        value2: currency(5, "Валюта №2"),
        value3: currency(10, "Валюта №3")
      },
      rules: {
        notLessThan: x => value =>
          value >= x || "Значение должно быть не меньше " + x
      }
    };
  },
  created() {
    Object.values(this.currencies).forEach(e => e.start());
  },
  methods: {
    getLabel(key) {
      return `${this.currencies[key].title} - ${
        this.currencies[this.seedAnchor].title
      }`;
    }
  },
  computed: {
    coefficients() {
      return Object.entries(this.currencies)
        .map(([key, value]) => ({
          key,
          value: value.getLast()
        }))
        .reduce((acc, cur) => {
          acc[cur.key] = cur.value;
          return acc;
        }, {});
    },
    anchorCoefficient() {
      return this.coefficients[this.seedAnchor];
    },
    currency1: {
      get() {
        return currencyGetter.call(this, this.coefficients.value1);
      },
      set(val) {
        return currencySetter.call(this, val, "value1");
      }
    },
    currency2: {
      get() {
        return currencyGetter.call(this, this.coefficients.value2);
      },
      set(val) {
        return currencySetter.call(this, val, "value2");
      }
    },
    currency3: {
      get() {
        return currencyGetter.call(this, this.coefficients.value3);
      },
      set(val) {
        return currencySetter.call(this, val, "value3");
      }
    }
  }
};
</script>
