<template>
  <div>
    <canvas ref="graphCanvas" width="400" height="200" />
  </div>
</template>

<script>
import Chart from "chart.js";

export default {
  props: {
    datasets: Object
  },
  data() {
    return {
      chart: {}
    };
  },
  mounted() {
    const colors = ["red", "blue", "green"];
    const config = {
      type: "line",
      data: {
        labels: [],
        datasets: Object.entries(this.datasets).map(([key, value], index) => ({
          key,
          label: value.title,
          data: [...value.values],
          backgroundColor: "#00000000",
          borderColor: colors[index],
          borderWidth: 1
        }))
      }
    };
    const chart = new Chart(this.$refs.graphCanvas, config);
    Object.entries(this.datasets)
      .map(([key, value]) => ({ key, value }))
      .forEach(e => {
        e.value.addListener(() => {
          config.data.datasets
            .find(dataset => dataset.key === e.key)
            .data.push(e.value.getLast());
          let labelSet = new Set(config.data.labels);
          labelSet.add(new Date().toLocaleTimeString());
          config.data.labels = Array.from(labelSet);
          chart.update();
        });
      });
  }
};
</script>
