<template>
  <div class="gradient-background">
    <slot />
  </div>
</template>

<script>
export default {
  name: "GradientBackground"
};
</script>

<style scoped>
.gradient-background {
  height: 100%;
  widows: 100%;
  background: #00f260;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(to right, #0575e6, #00f260);
}
</style>