<template>
  <v-app>
    <gradient-background>
      <v-container class="fill-height">
        <v-row align="center" justify="center">
          <v-col cols="12" sm="10" md="8">
            <v-card>
              <v-card-title>Конвертер криптовалют</v-card-title>
              <v-card-text>
                <converter-form />
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </gradient-background>
  </v-app>
</template>

<script>
import ConverterForm from "./components/ConverterForm";
import GradientBackground from "./components/GradiendBackground";

export default {
  components: { GradientBackground, ConverterForm },
  name: "App"
};
</script>

